@using ERP.Models.ViewModel.Users
@model ERP.Models.ViewModel.Claims.SelectUserForClaimModel[]

@{
    var user = ViewBag.User as UsersDetailsViewModel;
    ViewData["Title"] = "ManageUserClaim";
}

<div>
    <hr />
    <form asp-action="ManageUserClaim">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(_ => user.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(_ => user.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(_ => user.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(_ => user.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(_ => user.Roles)
            </dt>
            <dd class="col-sm-10">
                @{
                    if (user!.Roles.Length > 0)
                    {
                        <label>[ </label>

                        var count = 0;

                        while (count != user.Roles.Length)
                        {
                            <a asp-controller="Roles" asp-action="Details" asp-route-id="@user.Roles[count].Id">
                                @user.Roles[count].Name
                            </a>

                            if (count == user.Roles.Length - 1)
                            {
                                <label> ]</label>
                            }
                            else
                            {
                                <label> + </label>
                            }

                            count++;
                        }
                    }
                    else
                    {
                        <label>No Roles</label>
                    }

                    <a asp-controller="UsersRoleManager" asp-action="ManageUserRole" asp-route-id="@user.Id">
                        Manage Role
                    </a>
                }
            <dt class="col-sm-2">
                @Html.DisplayNameFor(x => x)
            </dt>
            <dd class="col-sm-10">
                @for (var i = 0; i < Model.Length; i++)
                {
                    <input asp-for="@Model[i].IsSelected" />
                    <label asp-for="@Model[i].IsSelected">@Model[i].Type</label>
                    <label asp-for="@Model[i].IsSelected" style="color: darkslateblue">[@Model[i].Value]</label>
                    <input type="hidden" asp-for="@Model[i].Type" />
                    <input type="hidden" asp-for="@Model[i].Value" />
                    if (i != Model.Length - 1)
                    {
                        <label style="color: brown">--</label>
                    }
                }
            </dd>
        </dl>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-outline-primary btn-dark" />
                </div>
            </div>
        </div>
    </form>
</div>
<div>
    <a asp-controller="Users" asp-action="Details" asp-route-id="@user!.Id">Back to User</a>
</div>
