@model IEnumerable<ERP.Models.ViewModel.Roles.RolesViewModel>

@{
    ViewData["Title"] = "GetRoles";
}

<p>
    <a asp-action="Create">Registration New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.Id }) |
                @Html.ActionLink("Details", "Details", new { item.Id }) |
                <form asp-action="Delete" asp-route-id="@item.Id">
                    <button class="btn btn-link" onclick="return confirm('Are you sure want to delete this Role')">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
